@import 'bootstrap';


[data-theme='dark'] {
    --color: transparent;
    --color-bg: #1D2125 !important;
    --color-bg-2: #161A1D !important;
    --text-color: #8C9BAB !important;
    --text-color-2: #B6C2CF !important;
    --text-color-3: #579dff !important;
    --btn-color: white !important;
    --btn-text: black !important;
    --alpha-color: #9BB4CA80 !important;
    --alpha-color-2:#4D579dff !important;
    --shadow-1:#161A1D!important;
}

[data-theme='light'] {
    --color: transparent;
    --color-bg: #ffffff !important;
    --color-bg-2: #EEEEEE !important;
    --text-color: #38414A !important;
    --text-color-2: #758195 !important ;
    --text-color-3: #579dff !important;
    --text-color-4: #2C3E5D !important;
    --btn-color: black !important;
    --btn-text: white !important;
    --alpha-color: #091E427D !important;
    --alpha-color-2:rgba(77, 86, 157, 0.541) !important;
    --shadow-1:grey!important;

}

[data-theme='dark'] .dark {
    display: none;
}

[data-theme='light'] .light {
    display: none;
}

[data-theme='light'] .dark {
    display: block;
}

body {
    background-color: var(--color-bg);
    height: 2000px;
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
    text-transform: uppercase;
    color: var(--text-color) !important;
}

.bg {
    background-color: #1D2125;
}

.bg-2 {
    background-color: var(--color-bg-2);
}

.text-3 {
    color: var(--text-color-3) !important;
}

.border-bttm {
    border-bottom: var(--text-color) 1px solid;
}


.text-classic {
    color: var(--text-color);
}

.bg-transparent {
    background-color: var(--color) !important;
}

.bg-drop {
    background-color: var(--color-bg);
    color: var(--text-color);
}

.dropdown-btn {
    text-decoration: none;
    border: none;
    background-color: var(--color);
}

.dropdown-element {
    text-decoration: none;
}

.dropdown-element:hover {
    opacity: 0.5;
}

nav {
    background-color: var(--color);
    color: var(--text-color) !important;
    background-color: var(--color-bg);
}

nav ul li a {
    color: var(--text-color) !important;
}


.hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

nav {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: var(--text-color) !important;
}

.btn-custom {
    min-height: max-content;
    display: flex;
    flex-flow: row wrap;
    --size1: 10px;
    --size2: 8%;
    padding-top: var(--size1);
    padding-bottom: var(--size1);
    padding-left: var(--size1);
    padding-right: var(--size1);
    border-radius: 5px;
    border: none;
    background-color: var(--text-color-3);
    color: var(--color-bg-2);
    text-transform: uppercase;
    font-weight: 700;
    max-width: fit-content;
    max-height: fit-content;

}

.btn-custom-2 {
    min-width: max-content;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    --size1: 1.9%;
    --size2: 8%;
    padding-top: var(--size1);
    padding-bottom: var(--size1);
    padding-left: var(--size1);
    padding-right: var(--size1);
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;

}

.btn-custom:hover {
    opacity: 0.7;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0%{
        transform: scale(1);
        
    }
    25% {
        transform: scale(0.90);
    }
    50% {
        transform: scale(1);
    }
    75%{
        transform: scale(0.90);
    }
    100%{
        transform: scale(1);
    }
    
}



.btn-custom-2:hover {
    opacity: 0.7;
}


.uppercased {
    text-transform: uppercase;
}

.position-light {
    padding-top: 14px;
}

.position-dark {
    padding-top: 12px;
}

.card-custom {
    min-height: 700px;
    color: var(--text-color);
    background-image: linear-gradient(180deg, var(--color-bg)10%,var(--color-bg-2)100%) ;
    border-radius: 10px;
    padding-top: 0;
    padding-left: 4%;
    padding-bottom: 5%;
    box-shadow: 0 0 1rcap var(--shadow-1);
    /*border: 1px solid var(--alpha-color);
    box-shadow: 0px 4px 23px var(--alpha-color);*/ 
}


[data-theme = "light"]{
    .card-custom .btn-custom{
    color: var(--text-color);
}
}


.card-custom:hover {
    transform: scale(1.03);
}

.footer {
    background-color: var(--color-bg-2);
    margin-top: 10%;
    min-height: 300px;
}

.revision-element{
    border: solid 3px var(--text-color-3);
    border-radius: 4px;
    background-color: var(--alpha-color-2) ;

}

.font-400{
    font-weight: 400;
 }